<html>
<head>
  <title>EON ICP feldolgozas listaja {{ date }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
</head>
<body>

	<div class="jumbotron">
	<h1>EON {{system}} napi feldolgozás <small> {{date.strftime('%Y.%m.%d %H:%M:%S')}} </small> </h1> 
	<div class="container">
        <div class="col-md-1 col-md-offset-1"><h4>Bejelentkezve: </h4><span class="label label-default">{{ logged_in_as }}</span></div>
    </div>
	</div>

	<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
 		<ul class="nav navbar-nav">
 		  <li><a href="/"><span class="glyphicon glyphicon-backward"> </span> Vissza</a></li>
 		  <li><a href="/zip/{{system}}"><span class="glyphicon glyphicon-envelope"> </span> ZIP</a></li>
 		  <li><a href="/kijelentkezes"><span class="glyphicon glyphicon-log-out"> </span> Kijelentkezes</a></li>
 		</ul>
	</nav>

	<div class="container-fluid">
	{% if content is defined and content|length > 0%}
	<table id="afpTable" class="table table-hover table-sm table-nonfluid">
		<thead class="thead-default">
			<TR>
				<TH onclick="sortTable(0)">Felhasználó</TH>
				<TH onclick="sortTable(1)">Méret</TH>
				<TH onclick="sortTable(2)">Dátum</TH>
				<TH onclick="sortTable(3)">Időpont</TH>
				<TH onclick="sortTable(4)">Fájlnév</TH>
			</TR>
		</thead>
		{% for line in content%}
			<TR>
				<TD>{{ line["felhasznalo"] }}</TD>
				<TD>{{ line["meret"] }}</TD>
				<TD>{{ line["datum"] }}</TD>
				<TD>{{ line["idopont"] }}</TD>
				<TD><a href="/download/{{system}}/{{line["fajlnev"]}}" download><span class="glyphicon glyphicon-cloud-download"></span></a> {{line["fajlnev"]}}</TD>
			</TR>
		{% endfor %}
	</table>
	{% else %}
		<h2>Nem talaltam adatot a {{date.strftime('%Y.%m.%d')}} napra.</h2>
	{% endif %}
	</div>
<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("afpTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.getElementsByTagName("TR");
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>