<!DOCTYPE html>
<html>
<head>
  <title>EON {{ system | upper}} QM minták - {{ date }}</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <div class="jumbotron">
    <div class="container">
      <div class="col-md-16"><h1>EON {{ system | upper}} - QM minták <small> {{date.strftime('%Y.%m.%d %H:%M:%S')}}</small></h1></div>
    </div>
    <div class="container">
      <div class="col-md-6"><h5>Bejelentkezve: <span class="label label-default">{{ logged_in_as }}</span></h5></div>
    </div>
  </div>
  <nav class="navbar navbar-inverse">
    <ul class="nav navbar-nav">
      <li><a href="/"><span class="glyphicon glyphicon-backward"> </span> Vissza</a></li>
      <li><a href="/afp/{{system}}"><span class="glyphicon glyphicon-picture"> </span> AFP</a></li>
      <li><a href="/zip/{{system}}"><span class="glyphicon glyphicon-picture"> </span> ZIP</a></li>
      <li><a href="/kijelentkezes"><span class="glyphicon glyphicon-log-out"> </span> Kijelentkezes</a></li>
    </ul>
  </nav>
  <div ng-app="app" ng-controller="myCtrl" ng-init="system = '{{system}}'">
  {% raw %}
    <div class="container-fluid">
    <p class="text-center" ng-hide="dataLoaded">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
    </p>
    <div class="col-xs-7" ng-show="dataLoaded">
      <div class="table-responsive">
        <table id="afpTable" class="table table-hover text-centered">
          <thead class="thead-inverse">
            <tr>
              <th class="col-md-1">#</th>
              <th class="col-md-2">Méret</th>
              <th class="col-md-3">Dátum</th>
              <th class="col-md-6">Fájlnév</th>
              <th class="col-md-3">Letöltés</th>
            </tr>
          </thead>
          <tbody ng-repeat="elem in data | orderBy: '-create'">
            <tr>
              <td class="col-md-1">{{$index+1}}</td>
              <td class="col-md-2">{{elem.size | filesize}}</td>
              <td class="col-md-3">{{elem.create | date: 'y.MM.dd'}}</td>
              <td class="col-md-6">{{elem.filename}}</td>
              <td class="col-md-3">
                <a href="#" ng-click="pdfDownload(system, elem.filename)">
                  <span id="szem" ng-class="{'glyphicon glyphicon-download': !pdfLoading, 'glyphicon glyphicon-hourglass': pdfLoading}"></span>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div ng-show="dataLoaded" class="col-xs-5">
      <div class="well well-sm">
        <h3>Minta</h3>
        <object data="{{pdf_content}}" type="application/pdf" width="100%" height="800px">
          <p><b>Hiba a pdf megnyitásakor</b>: A böngésződ nem támogatja a PDF beágyazását: <a href="{{pdf_content}}">Letölteni itt tudod</a>!</p>
        </object>
      </div>
    </div>

  </div>
 </div>   
  {% endraw %}
<script type="text/javascript" src="/static/js/qm_app.js"></script>
<script type="text/javascript" src="/static/js/qm_app.controller.js"></script>
</body>
</html>