<html>
<head>
  <title>EON ICP feldolgozas listaja {{ date }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  /* Note: Try to remove the following lines to see the effect of CSS positioning */
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>
</head>
<body>

	<div class="jumbotron">
	<h1>EON {{ system.upper() }} QM <small> {{date.strftime('%Y.%m.%d %H:%M:%S')}} </small> </h1> 
	<div class="container">
        <div class="col-md-2 col-md-offset-2"><h4>Bejelentkezve: </h4><span class="label label-default">{{ logged_in_as }}</span></div>
    </div>
	</div>

	<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197">
 		<ul class="nav navbar-nav">
 		  <li><a href="/"><span class="glyphicon glyphicon-backward"> </span> Vissza</a></li>
 		  <li><a href="/kijelentkezes"><span class="glyphicon glyphicon-log-out"> </span> Kijelentkezes</a></li>
 		</ul>
	</nav>

	<div class="container-fluid">
	{% if sorok is defined and sorok|length > 0 %}
	<table class="table table-hover table-sm table-nonfluid">
		<thead class="thead-default">
			<TR>
				<TH>Méret</TH>
				<TH>Készült</TH>
				<TH>Fájlnév</TH>
				<TH>Megjelenít</TH>
			</TR>
		</thead>
		{% for line in sorok%}
			<TR>
				<TD>{{ line["meret"] }}</TD>
				<TD>{{ line["formatted_time"].strftime(line['time_format']) }}</TD>
				<TD> {{ line["fajlnev"] }}</TD>
				<TD><a href="/qm/download?{{ line['fajl_helye'] }}" target="_blank"><span class="glyphicon glyphicon glyphicon-phone"></span></a></TD>
			</TR>
		{% endfor %}
	</table>
	{% else %}
		<h2>Nem talaltam adatot a {{date.strftime('%Y.%m.%d')}} napra.</h2>
	}
	{% endif %}
	</div>
</body>
</html>